@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:ital@0;1&display=swap");
:root {
  --font-monoton: "Monoton", cursive;
  --font-noticia: 'Noticia Text', serif;
}
.my-custom-font {
  font-family: var(--font-monoton);
}
.sub-title-italic-font {
  font-family: var(--font-font-noticia);
  font-style: italic;
}
